.sign__save-button {
  display: block;
  margin: 185px 0 0;
  width: 358px;
  height: 50px;
  background: #fff;
  border: none;
  border-radius: 2px;
  padding: 14px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22px;
  text-align: center;
  color: #000;
  cursor: pointer;
  transition: 0.5s linear;
}

.sign__save-button:hover {
  opacity: 0.85;
}

@media screen and (max-width: 630px) {
  .sign__save-button {
    margin: 10px 0 0;
    width: 238px;
    height: 46px;
    padding: 14px 82px;
    font-size: 14px;
  }
}