.profile__description {
  grid-area: description;
  max-width: 450px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 950px) {
  .profile__description {
    font-size: 16px;
    max-width: 250px;
  }
}

@media screen and (max-width: 630px) {
  .profile__description {
    font-size: 14px;
  }
}